@font-face {
    font-family: "Fire Code Nerd";
    font-style: normal;
    src: url(https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/FiraCode/Retina/complete/Fura%20Code%20Retina%20Nerd%20Font%20Complete.ttf);
}
